{% extends 'base.html' %}

{% block content %}
<div class="about-section">
    <h1>About Us</h1>
    <p>We are a team of Master's students at Queen Mary University of London, working on population genetics and bioinformatics. Our goal is to provide tools and resources for analysing genetic data in the context of human population genetics. We believe that open and accessible tools are essential for scientific progress and we strive to make our work available to the wider scientific community.</p>
    <p>If you have any questions or feedback, please don't hesitate to contact us.</p>
    <p>Email: <a href="mailto:bt23844@qmul.ac.uk">bt23844@qmul.ac.uk</a></p>
</div>
{% endblock %}

