{% extends 'base.html' %}

{% block content %}

<div class="admixture-analysis-banner">
    <!-- Banner content here -->
</div>

<h2>Admixture Analysis</h2>
<form method="post" id="admixture-form">
    {{ form.hidden_tag() }}

    <!-- Superpopulations and their populations -->
    {% for superpop_code, populations in form.populations_by_superpopulation().items() %}
    <div class="form-group">
        <!-- Superpopulation Header -->
        <div class="collapsible-header" data-toggle="collapse" data-target="#collapse{{ superpop_code }}">
         Select {{ form.superpopulations.choices|selectattr('0', 'equalto', superpop_code)|map(attribute='1')|first }} Populations
         <i class="fa fa-chevron-down collapsible-arrow"></i>
        </div>
        
        <!-- Populations for this Superpopulation -->
        <div id="collapse{{ superpop_code }}" class="collapse collapsible-content">
            <div class="card card-body">
                {% for value, pop_label in populations %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="populations" value="{{ value }}" id="{{ value }}">
                    <label class="form-check-label" for="{{ value }}">
                        {{ pop_label }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="form-group">
        {{ form.num_ancestral_pops.label }}
        {{ form.num_ancestral_pops(class="form-control", min=1) }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">submit for analysis</button>
    </div>
</form>

{% endblock %}
