{% extends 'base.html' %}

{% block content %}
<h2>Admixture Analysis</h2>
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.populations.label }}
        {{ form.populations(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.num_ancestral_pops.label }}
        {{ form.num_ancestral_pops(class="form-control", min=1) }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}

