{% extends 'base.html' %}

{% block content %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    function updateFields() {
        var searchOption = document.querySelector('input[name="search_option"]:checked').value;
        document.getElementById('snp_ids_field').style.display = searchOption == 'snp_id' ? 'block' : 'none';
        document.getElementById('coordinates_field').style.display = searchOption == 'coordinates' ? 'block' : 'none';
        document.getElementById('gene_names_field').style.display = searchOption == 'gene_name' ? 'block' : 'none';
    }
    document.querySelectorAll('input[name="search_option"]').forEach(function(elem) {
        elem.addEventListener('change', updateFields);
    });
    updateFields(); // Call on page load
});
</script>
<h2>SNP Information</h2>
<form action="{{ url_for('main.snp_information') }}" method="post">
    {{ form.hidden_tag() }}
    <div>{{ form.search_option.label }}: {{ form.search_option }}</div>
    <div id="snp_ids_field">{{ form.snp_ids.label }}: {{ form.snp_ids }}</div>
    <div id="coordinates_field">
        {{ form.chromosome.label }}: {{ form.chromosome }}
        {{ form.start_position.label }}: {{ form.start_position }}
        {{ form.end_position.label }}: {{ form.end_position }}
    </div>
    <div id="gene_names_field">{{ form.gene_names.label }}: {{ form.gene_names }}</div>
    <div>{{ form.populations.label }}: {{ form.populations }}</div>
    <div>{{ form.submit }}</div>
</form>
{% endblock %}
