<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <style>
        body {
                font-family: Arial, sans-serif;
                margin: 0; 
                padding: 0;
                background-color: #f4f4f4;
                background-image: url("{{ url_for('static', filename='Web_DNA_image.jpg') }}");
                background-size: cover; 
                background-position: center; 
                background-repeat: no-repeat;
            }
      </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Data Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('test5') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('Data_analysis') }}">Data Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="SNP_Search" href="{{ url_for('SNP_Search') }}">SNP Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('About_us') }}">About Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" style="color: white; font-size: 30px;">
        <p>Select an analysis to perform:</p>
    </div>
    <div class="container" style="color: white; font-size: 16px;">
        <ul>
            <li><a href="/admixture-analysis">Admixture Analysis</a></li>
            <li><a href="{{ url_for('Clustering_analysis') }}">Clustering Analysis</a></li>
        </ul>
    </div>
</body>
</html>