<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluster Analysis</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
h1 {
    color: black ;
}
body {
  background-color: white;
}</style>
<body>
  <div class="container">
    <h1>Cluster Analysis</h1>
    <p>This page presents the results of a cluster analysis of genetic data for a set of samples. The analysis was performed using the <a href="https://github.com/joseph-hall/platypus">Platypus</a> software package. The plot below shows the clustering of the samples based on their genetic similarity.</p>
    <div class="row">
      <div class="col-md-8">
        <figure class="highcharts-figure">
          <div id="cluster-plot"></div>
          <figcaption>Cluster plot of genetic data for a set of samples.</figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <h2>Cluster Analysis Details</h2>
        <p>The cluster analysis was performed using the <a href="https://github.com/Towner101/BIO727P-Team-Deepin">Python</a> software package. The analysis used the following parameters:</p>
        <ul>
          <li>Number of clusters: 5</li>
          <li>Distance metric: Euclidean</li>
          <li>Linkage criterion: Ward</li>
        </ul>
        <p>The analysis identified 5 distinct clusters of samples based on their genetic similarity. The cluster plot shows the samples as points in a two-dimensional space, where the x-axis and y-axis represent the first two principal components of the genetic data. The samples are colored according to their assigned cluster.</p>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSGFpoO/ufreqqF6MVu4JdG7PhIxZlW8sSJv43gkdSHluaInJd/X7lv" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX5" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script>
    // Initialize the cluster plot
    Highcharts.chart('cluster-plot', {
      chart: {
        type: 'scatter',
        zoomType: 'xy'
      },
      title: {
        text: 'Cluster Plot of Genetic Data'
      } 