<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluster Analysis</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
h1 {
    color: white;
}
body {
  background-color: white;
  background-image: url("{{ url_for('static', filename='Web_DNA_image.jpg') }}"); color: white;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;;
}
</style>
<body>
  <div class="container">
    <button class="btn btn-secondary" style="margin-bottom: 5px; margin-left: 0px;" onclick="goBack()">Back</button>
    <h1>Cluster Analysis</h1>
    <p>This page presents the results of a cluster analysis of genetic data.</p>
    <div class="row">
      <div class="col-md-8">
        <figure class="highcharts-figure">
          <div id="cluster-plot"></div>
          <figcaption>Cluster plot</figcaption>
        </figure>
      </div>
    </div>
  </div>
  <script>
    function goBack() {
      // Use the browser's history to go back
      window.history.back();
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSGFpoO/ufreqqF6MVu4JdG7PhIxZlW8sSJv43gkdSHluaInJd/X7lv" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX5" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script>
    // Initialize the cluster plot
    Highcharts.chart('cluster-plot', {
      chart: {
        type: 'scatter',
        zoomType: 'xy'
      },
      title: {
        text: 'Cluster Plot of Genetic Data'
      }