<! ––theme of the website––>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1" />
    <style>
        body {
            background-color: #17a9e7;
        }
    
        header {
            background-color: #121317;
            color: #abe12b;
        }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    >
      
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    >

    <title>{% block title %}Home{% endblock %}</title>
  </head>

  <body>
    <style>
        body {
            background-color: #17a9e7;
        }
    
        header {
            background-color: #121317;
            color: #abe12b;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="DataAnalysis" href="{{ url_for ('Data_analysis') }}">Data Analysis</a>
          <a class="nav-item nav-link" id="Overview" href="/overview">Overview</a>
          <a class="nav-item nav-link" id="AboutUs" href="{{ url_for ('About_us') }}">About Us</a>
          <form class="search-form" role="search">
            <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </div>
          </form>

          
        </div>
      </div>
    </nav>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">
    </script>
     <div class="content">
        <h2>Welcome to Deepin Hub!</h2>
        <p>Explore the fascinating world of population genetics and discover the insights it provides into the diversity
        and evolution of populations.</p>
        <img src="Front_page_image.jpg" alt="Front page image" style="width:100%;">
     </div>
  </body>
    </html>
